<% provide(:title, "About") %>
<h2>About</h2>
<p>This is a website made for the CSC-324 class of Grinnell College.</p>
<p>The logo is from <%= link_to "FavPNG", "https://favpng.com/png_view/vegetable-vegetable-pumpkin-food-bell-pepper-meal-png/6zM68AbE" %>.</p>
<p>The API being used is <%= link_to "Nutrionix", "https://www.nutritionix.com/business/api" %> with a limit of 50 requests per day.</p>