<% provide(:title, 'Contact') %>
<h4>Contact</h4>
<p>
Contact the Ruby on Rails Tutorial for information about parts of the implementation at the
<a href="https://www.railstutorial.org/contact">contact page</a>.
</p>
