<% provide(:title, "Home") %>
<div class="center jumbotron thin-font">
<h3>Welcome to the </h3>
<h5 class = "center">Nutrition Guessing Game</h5>
<p style="line-height: 80%;">
<h2 class="very-thin-font">You can make guesses about the nutrition and diet data for</h2>
<h2 class="very-thin-font"> generic foods, packaged foods and restaurant meals.</h2>
<br/>
<h2 class="very-thin-font">The closer you are, the more points you get!</h2>
</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg" %>
</div>
