<% provide(:title, "Home") %>
<div class="center jumbotron thin-font">
<h3>Welcome to the </h3>
<h5 class = "center">Calories Guessing Game</h5>

<h4 class="very-thin-font">You can make guesses about the calories data for</h4>
<h4 class="very-thin-font"> generic foods, packaged foods and restaurant meals.</h4>
<h4 class="very-thin-font top-padding" >The closer you are, the more points you get!</h4>

<br/>
<%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg" %>
<%= link_to "Get Guessin'", guess_path, class: "btn btn-lg", data: { turbolinks: false } %>

</div>
