<% provide(:title, "Guess the Nutrition Facts") %>
<h2 class = "center" >Nutrition Guessing Game</h2>
<div class="center jumbotron">
<script>
    load_new_item();
</script>  
<button id="btn_load-new" class="btn btn-lg" onclick="load_new_item()">Load New Item</button>
<h3 id="display_food-name"></h3>
<h4 id="display_brand-name" class="very-thin-font"></h4>
<div>
    
    <h4 id='display_serving-per-container' style="display: inline"></h4>
    
    <h4 id='display_serving-quantity' style="display: inline"></h4>
    <h4 id='display_serving-unit' style="display: inline"></h4>
</div>
<h4 id="display_food-description" class="very-thin-font"></h4>
<div class="row">
    <div  class="col-md-6 col-md-offset-3">
        <h4 id="display_calories-label" style="display:inline; color:#C80070"></h4>
        <input id="display_calories-input" style="display: inline;visibility: hidden;" type="number" />
    </div>
</div>
    <button id="btn_check-answer" class="btn btn-lg" onclick="check_answer()">Check your Guess</button>
    <h3 id="result" class="thin-font">Let's see if you guessed correctly</h3>
</div>

