<% provide(:title, "Guess the Nutrition Facts") %>
<h2 class = "center">Nutrition Guessing Game</h2>
<div class="center jumbotron">
<h3 id="display_food-name"></h3>
<h4 id="display_brand-name" class="very-thin-font"></h4>
<div>
    Serving size:
    <h4 id='display_serving-per-container' style="display: inline"></h4>
    x
    <h4 id='display_serving-quantity' style="display: inline"></h4>
    <h4 id='display_serving-unit' style="display: inline"></h4>
</div>
<h4 id="display_food-description" class="very-thin-font"></h4>
<div>
    <h4 style="display:inline; color:#C80070">Calories:</h3>
    <h4 id='display_calories' style="display: inline"></h4>
</div>
<h3 id='display_calories'></h3>
<button id="btn_load-new" class="btn btn-lg" onclick="load_new_item()">Load New Item</button>
</div>

