<% provide(:title, "Guess the Nutrition Facts") %>
<h2 class = "center">Nutrition Guessing Game</h2>
<div class="center jumbotron">
<h3 id="display_food-name"></h3>
<h4 id="display_brand-name" class="very-thin-font"></h4>
<button id="btn_load-new" class="btn btn-lg" onclick="load_new_item()">Load New Item</button>
</div>

