@import "bootstrap-sprockets";
@import "bootstrap";


/* variables */

$gray-medium: #777;
$gray-light: #eeeeee;
$gray: #555;
$gray-dark: #222;
$red: #cc0000;
$blue: #3668BD;
$cherry: #C80070;
$green: #2BAD00;
$gray-medium-light: #c3c3c3;
$orange: #F5A41F;
$olive: #708831;


/* universal */

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

body {
  padding-top: 120px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
    margin-left: 15px;

    &.dice_title {
      color: $gray;
    }
  }
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  color: $cherry;
  text-transform: uppercase;
  font-weight: 100;
}

h2 {
  margin-top: 0px;
  font-size: 3.5em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  color: $cherry;
  text-transform: uppercase;
  font-weight: 100;
}

h3 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  color: $cherry;
  text-transform: uppercase;
  font-weight: 10;
}

h4 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: 40;
  color: black;
}


.top-padding {
  padding-top: 20px;
}


h5 {
  font-size: 4em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  color: $cherry;
  text-transform: uppercase;
  font-weight: 100;
}

p {
  font-size: 1.7em;
  line-height: 1.7em;
}

.tab {
  margin-left: 1.5 em;
}

.thin-font {
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

.very-thin-font {
  font-family: "Source Sans Pro", Helvetica, sans-serif
}

.incorrect {
  color: black;
}

.correct {
  color: $green;
}

.warm {
  color: $orange;
}

.hot {
  color: $red;
}

.cold {
  color: $blue;
}


/* Navigation Header */

.navbar {
  background-color: white;
}

nav {

  padding-top: 30px;

  .container-fluid {
    float: left;
  }
  .navbar-toggle {
    //position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: $cherry;
    background-image: none;
    border: 4px solid transparent;
    border-radius: 4px;

    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: #fff;
    }
  }

  ul {
    list-style-type: none;
    padding-top: 0px;
    margin: 0;
    display: flex;
    flex: auto;
    float: center;
    align-items: center;
    
    .olive {
      color: $olive;
      font-weight: 550;
  }

    li {
      flex: 1;
      flex-basis: auto;


      a {
        color: black;
        display: inline-block;
        font-size: large;
        font-weight: 300;
        padding: 30px 10px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
      }

      a:hover {
        background-color: $gray-light;
        font-weight: bold;
        flex-basis: auto;
        color: $cherry;
      }


    }
  }
}

.cherry {
  color: $cherry;
}




#logo {
  float: left;
  margin-right: 10px;
  margin-left: 80px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: $gray-light;
    text-decoration: none;
  }

  a {
    padding: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    text-color: gray-light;
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* UI for Mobile*/

@media (max-width: 800px) {
  body {
    padding-top: 111px;
  }
  nav {
    .container-fluid {
      float: none;
    }
  }

  #logo {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* home */

.btn {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 3px solid $olive;
  background-color: white;
  color: $olive;
  font-weight: bold;
  font-size: 20px;
}

.btn:hover {
  background: $olive;
  color: white;
  border: 3px solid white;
  font-weight: bold;
}

.jumbotron {
  padding: 25px;
}

/*calorie display  slider*/

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

/* The slider itself */

.slider {
  margin-top: 10px;
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  /* Grey background */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */

.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  background: $cherry;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  background: $cherry;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.user_info {
  
  h1 {
    text-transform: none; 
    font-size: 30px;
    color: black;
  }
  
  h2 {
    color: $olive; 
    font-size: 30px;
    text-align: center;
  }
  
  h3 {
   text-align: left;
   text-transform: none;
   color: black;
   font-size: 20px;
  }
  
  .btn {
    
  }
}