@import "bootstrap-sprockets";
@import "bootstrap";


/* variables */

$gray-medium: #777;
$gray-light: #eeeeee;
$gray: #555;
$gray-dark: #222;
$red: #cc0000;
$blue: #337ab7;
$cherry: #C80070;
$gray-medium-light: #c3c3c3;

/* universal */

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
    margin-left: 15px;

    &.dice_title {
      color: $gray;
    }
  }
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  color: $cherry;
  text-transform: uppercase;
  font-weight: 100;
}

h2 {

  font-size: 3.5em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  color: $cherry;
  text-transform: uppercase;
  font-weight: 100;
}

h3 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  color: $cherry;
  text-transform: uppercase;
  font-weight: 10;
}

h4 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: 40;
  color: black;
}


.top-padding {
  padding-top: 20px;
}


h5 {
  font-size: 4em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  color: $cherry;
  text-transform: uppercase;
  font-weight: 100;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.tab {
  margin-left: 1.5 em;
}

.thin-font {
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

.very-thin-font {
  font-family: "Source Sans Pro", Helvetica, sans-serif
}

/* header */

.site-navigation {
  margin-bottom: 20px;

  nav {
    background-color: #fff;

    ul {
      list-style-type: none;
      padding-top: 0px;
      margin: 0;
      display: flex;
      flex: auto;
      float: center;
      align-items: center;

      li {
        flex: 1;
        flex-basis: auto;


        a {
          color: black;
          display: inline-block;
          font-size: large;
          font-weight: 300;
          padding: 30px 10px;
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;
        }

        a:hover {
          background-color: $gray-medium-light;
          flex-basis: auto;
        }
      }
    }


  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: $gray-light;
    text-decoration: none;
  }

  a {
    padding: none;
  }
}

.navbar {
  background-color: $blue;
  color: #fff;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    text-color: gray-light;
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* home */

.btn {
  background: $gray-light;
  border: 2px solid $gray-medium-light;
  color: $cherry;
  padding-top: 5px;
}

.btn:hover {
  background-color: $cherry;
  color: white;
  border: 2px solid #fff;
}